{% extends 'base.html' %}

{% block content %}
<main class="container pt-5">
    <section class="card card-body ">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis sed pariatur accusantium perspiciatis vitae,
            doloremque facere quas dolores reprehenderit nulla quis officiis labore nesciunt eius praesentium, officia mollitia
            tenetur, sint incidunt. Dicta, possimus quasi inventore quam doloremque ipsam eligendi veritatis quod voluptates,
            quis dolorem nemo eos temporibus placeat delectus, at officiis fugiat laboriosam nulla debitis. Perferendis delectus
            impedit eum officiis, nemo ex debitis repellendus. Neque nostrum reprehenderit vero assumenda dolores officiis
            nesciunt ducimus, harum ad minima, quae saepe ullam laborum eaque tempore autem voluptates, aliquid accusamus ab
            nemo? Nemo ex velit maiores hic amet aperiam dolor laborum sunt exercitationem soluta.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signup">
                Sign up
            </a>
    
            <a class="btn btn-dark" href="/signin">
                Log in
            </a>
        </div>
    </section>
</main>
{% endblock %}